/node_modules
/.idea
/.settings
/logs
npm-debug.log
/tasks
gulpfile.js
config.js
tasks/config.js
/tasks/config/
/spec/logs/
TODO.md
todo.json
/test/
/mochawesome-reports/
karma.conf.js
test-line.js
test-console.js
simple.js
/spec/logs/
/sandbox/